{%  extends "layout.twig" %}


{% block body %}
	<div class="container">
      <div class="jumbotron center">
        <h1>Not found: 404</h1>
        <p>Content not found.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/" role="button">Go Back</a>
        </p>
      </div>

    </div>
{%  endblock %}