{% extends "aLayout.twig" %}

{% block title %}PH Admin{% endblock %}

   


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 
    <h1 class="page-header">Desktop</h1>
    <p>Hello {{ _user.name }}</p>
</div>

{% endblock %}
