{% set langCurrent = language.locale|split('_') %}
<!DOCTYPE html>
<html lang="{{ langCurrent[0] }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>{{ language.l('title') }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">


    <link href="/static/css/artst.css" rel="stylesheet">
    <link href="/static/css/admin.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  
	{% block nav %}
	
		{% include 'aNav.twig' %}

	{% endblock %}
	 
	<div class="container-fluid">
   
    {% block messageStatus %}{% endblock %}

    {% if loginError %}
      <div class="alert alert-danger" role="alert">An error was occurred when login account</div>
    {% endif %}

    {% if userDisabled %}
      <div class="alert alert-danger" role="alert">This account was disabled</div>
    {% endif %}

    <div class="row">

	 {% block body %}

    {% block sidebar %}
  
      {% include 'aSidebar.twig' %}

    {% endblock %}

    {% block content %}
  
      

    {% endblock %}
  {% endblock %}
	</div>
  </div>

	{% block footer %}{% endblock %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
